.footer 
{
  background-color: #1e1e1e;
  border-top: 0.1vh solid #333;
  color: #fff;
  text-align: center;
  height: 6vh;
  display: flex;              /* flexbox para controlar */
  align-items: center;        /* centra verticalmente */
  justify-content: center;    /* centra horizontalmente */
}

.footer p 
{
  margin: 0;   /* quita márgenes del párrafo */
  font-size: 1.5vh; /* hace que el texto escale y quepa */
}
