html, body 
{
  height: 100%; /* altura total de la ventana */
  margin: 0;
}

body 
{
  display: flex;
  flex-direction: column; /* hace que el contenido sea vertical */
}

main 
{
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




/* ==============================
   Mobile adjustments
============================== */
@media (max-width: 768px) 
{

  /* ==============================
     Main background
  ==============================
  */


  /* ==============================
     Search bar
  ==============================
  */
  .search-bar 
  {
    width: 90vw;
    flex-direction: column;
    height: auto;
    font-size: 3vw;
  }

  .filter-dropdown 
  {
    width: 80vw;
  }

  /* ==============================
     Footer
  ==============================
  */
  .footer 
  {
    height: auto;
    padding: 2vh 0;
  }

  .footer p 
  {
    font-size: 3vw;
  }
}

